:root {
    --our-black: #000000de;
    --our-white: #f3f3f3;
    --our-shadow: #00000033;
    --our-grey: #555;
    --our-overlay: #2524244b;
    --our-green: #cbf802;
    --our-grey-2: #dcdcdcbd;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    padding: 0;
    margin: 0;
    min-width: 375px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    background: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-width: 375px;
}

.header{
    position: relative;
}

/* navbar 1 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.cart{
  position: relative;
}


.cart a:hover{
  transition: color 0.3s ease, background-color 0.3s ease; 
}

#item-count-circle {
  position: absolute;
  top: -10%;
  right: 20%;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}


.logo {
  flex: 1;
  height: 10vh;
}

.logo img{
height: 100%;
}

#toggle1, #toggle2{
display: none;
font-size: 24px;
min-width: 24px;
max-width: 24px;
color: #fff;
cursor: pointer;
margin-right: 1rem;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.nav-links ul li {
  position: relative;
}

.nav-links ul li a {
  color: var(--our-green);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav-links ul li .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--our-white);
  box-shadow: 0 8px 16px var(--our-shadow);
  width: 7vw;
  z-index: 1;
}

.nav-links ul li .dropdown-content a {
  color: var(--our-black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-links ul li .dropdown-content a:hover {
  background-color: var(--our-white);
  text-decoration: underline;
}

.nav-links ul li:hover .dropdown-content {
  display: block;
}

.search-bar {
  flex: 2;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: var(--our-grey);
  color: var(--our-white);
}

.handleSearchResults{
  position: fixed;
  background-color: var(--our-black);
  width: 20vw;
  height: 20vh;
  padding: 5px;
  top: 11%;
  left: 58.3%;
  z-index: 10;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.handleSearchResults a{
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}

.handleSearchResults img{
  height: 30px;
  width: 20px;
}

.handleUserStates{
  display: flex;
  position: relative;
}

.profileAccount{
  color: #ffffff;
}

.profileAccountName{
  color: var(--our-green);
  cursor: pointer;
}

.user-account, .cart {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.cart a, .user-account a {
  color: #ffffff;
  padding: 10px 15px;
  text-decoration: none;
}

.cart a:hover, .user-account a:hover{
  color: var(--our-green);
}

.user-account ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.user-account ul li .user-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--our-white);
  box-shadow: 0 8px 16px var(--our-shadow);
  width: 6vw;
  z-index: 1;
}

.user-account ul li .user-dropdown-content a {
  color: var(--our-black);
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.user-account ul li .user-dropdown-content a:hover {
  background-color: var(--our-white);
  text-decoration: underline;
}

.user-account ul li:hover .user-dropdown-content {
  display: block;
}

.user-msg-count{
  position: absolute;
  top: -60%;
  right: 0;
  background-color: red;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 20px;
  color: white;
  border-radius: 50%;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
}

/* navbar 2 */
.nav-links2{
  position: absolute;
  top: 0%;
  left: 0;
  height: fit-content;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  display: none;
  margin-top: 4rem;
  z-index: 600000;
}

.nav-links2 ul li{
  list-style: none;
}

.nav-links2 ul a{
  text-decoration: none;
  color: var(--our-green);
}

#dropdown-content2a, #dropdown-content2b{
  display: none;
  position: relative;
  height: auto;
  width: auto;
}

.nav-links2 ul li .dropdown-content2 a {
  color: #ffff;
  text-decoration: none;
  display: block;
}

.dropdown2, .contact{
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.dropdown2 .arrow-down{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  cursor: pointer;
}

/* slider */
.carousel{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.carousel-inner{
  padding-top: 4.5rem;
}

.carousel-item{
  width: 100%;
  height: 55vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: fill !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--our-black);
  border-radius: 50%;
  padding: 10px;
}

.carousel-indicators button {
    background-color: var(--our-white) !important;
    border-radius: 100%;
    border-style: hidden;
    width: 10px !important;
    height: 10px !important;
    margin: 0 15px !important;
}

.carousel-indicators .active{
    background-color: var(--our-black) !important;
}

/* sample products and services */
div .sample-1, div .sample-2{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    padding: 0 1rem 1rem 1rem;
    gap: 1vw;
}

#product-container div {
  border: 1px solid rgb(223, 220, 220);
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 5px;
}

#product-container1 div {
  border: 1px solid rgb(223, 220, 220);
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 5px;
}

#product-container2 div {
  border: 1px solid rgb(223, 220, 220);
  height: fit-content;
  padding-top: 5px;
}

#product-container3 div {
  border: 1px solid rgb(223, 220, 220);
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 5px;
}

#product-container4 div {
  border: 1px solid rgb(223, 220, 220);
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 5px;
}

.img , .img2{
    height: 100%;
    width: 100%;
    position: relative;
    color: black;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 8px 16px #00000054;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.img img{
    width: 50%;
    position: relative;
    object-fit: contain;
}

.img:hover {
  transform: translateY(-2px);
}

.img h4 {
  font-size: 15px;
}

.img h5 {
  font-size: 15px;
}

.img h6 {
  font-size: 10px;
}

.img2 img{
  width: 100%;
  height: 90%;
  position: relative;
  object-fit: fill;
}

.img2:hover{
  transform: translateY(-2px);
}

div .h3-sample{
    padding-top: 3rem;
    padding-left: 3rem;
}

.h3-sample span{
font-weight: bolder;
}

.img::after, .img2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--our-overlay);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    border-radius: 10px;
  }
  
  .img:hover::after, .img2:hover::after{
    opacity: 1;
    z-index: 1;
    box-shadow: 0 8px 16px #00000054;

  }

  .img::before {
    content: "\f07a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s;
    pointer-events: none;
  }

  .img2::before {
    content: "\f7d9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s;
    pointer-events: none;
  }

  .img:hover::before, .img2:hover::before {
    opacity: 1;
  }

  .hr-container{
    width: 22.6vw;
    height: auto;
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  .medium-line{
    border: none;
    border-top: 3px solid black;
    margin: 20px 0;
  }

  .view-more{
    margin-bottom: 2rem;
  }

  .view-btn{
    float: right;
    padding: 0.8rem;
    border: none;
    border-radius: 6px;
    background-color: black;
    margin-right: 20px;
  }

  .view-btn a{
    text-decoration: none;
    color: #fff;
  }

  .view-btn:hover{
    background-color: #cbf802;
  }

  /* floating whatsapp icon */
  .whatsapp-float{
    position: fixed;
    right: 20px;
    top: 70%;
    z-index: 1000000000;
    width: 55px;
    height: 55px;
  }
    /* floating call icon */
    .call-float{
      position: fixed;
      right: 20px;
      top: 78%;
      z-index: 100000000;
      width: 50px;
      height: 50px; 
    }
 
  .call-float a img,.whatsapp-float a img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }

  /* footer */
  footer{
    background-color: var(--our-black);
    width: 100%;
    margin-top: 2rem;
    padding: 2% 0;
  }

  .footer{
    display: grid;
    width: 100%;
    grid-template-columns:5% 22.5% 22.5% 22.5% 22.5% 5%;
  }

  .learn{
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .subscribe2{
    display: none;
  }

  .socials-container{
    display: flex;
    padding-top: 1rem;
  }

  footer .socials-container .socials{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 4vh;

  }

  .footer h4{
    color: #fff;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
  }
  
  .support{
    animation: bounce 2.5s ease-in infinite;
  }

  .support a{
    display: flex;
    color: #ffffff;
    padding-left: 1rem;
    gap: 1vw;
    text-decoration: none;
  }

  .support a:hover, .support h6:hover{
    color: var(--our-green);
  }

  .socials i {
    color: #fff;
    padding-right: 1rem;
  }

  .socials i:hover{
    color: var(--our-green);
  }

  #footer-hr, #footer-hr2{
    color: #fff;
  }

  #Lsign-up2, #Lsign-up1, #form1 input{
    width: 20vw;
    padding: .5rem;
    border-style: hidden;
    border-radius: .5rem;
  }

  #Lsign-up1, #Lsign-up2{
    margin-top: 1vh;
  }

  .footer h4{
    color: var(--our-green);
  }

  .footer p{
    color: #fff;
  }

  .policies a, .products a, .learn a{
    text-decoration: none;
  }

  .policies a p:hover, .products a p:hover, .learn a p:hover{
    color: var(--our-grey-2);
  }
  
  #footer-hr2{
  display: none;
  }

  .copyright{
    position: relative;
    margin: auto;
    background-color: var(--our-white);
    width: 20vw;
    text-align: center;
    margin-top: 2rem;
    border: none;
    border-radius: 1rem;
  }


  #search-results {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ffffff60;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.search-result-item img {
    max-width: 50px;
    margin-right: 10px;
}

.search-result-item span {
    font-size: 16px;
}



/* Media Queries */

/* screen size 1 */
@media (max-width: 1250px) {


  #Lsign-up1, #form1 input {
      width: 30vw;
  }

  .footer{
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
  }
}


/* screen size 2 */
@media (max-width: 992px) {

  .carousel-item{
    min-height: 45vh;
    max-height: 45vh;
  }
}

  .sample-1, .sample-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #Lsign-up1, #form1 input {
      width: 45vw;
  }

  .footer{
    grid-template-columns: 1% 1fr 1fr 1fr 1fr 1%;
  }


/* screen size 3 */
@media (max-width: 855px){
  .search-bar input{
    width: 70%;
  }
  
  .cart span{
    display: none;
  }
  .profileAccount{
    padding-left: .4rem;
  }

  .img2 img{
    height: 78%;
  }
}

/* screen size 4 */
@media (max-width: 768px) {
    #toggle1{
        display: block;
    }

    .logo{
      margin-right: -1rem;
      margin-left: -1rem;
    }

    .search-bar{
      flex: 11;
    }

    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-links.show-nav{
      display: flex;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        margin-bottom: 10px;
    }

    .user-account ul li .user-dropdown-content{
      width: 20vw;
      height: 15vh;
    }
  
    .user-account ul li .user-dropdown-content a{
      padding: 1px 7px;
    }

    .carousel-item {
      min-height: 35vh;
      max-height: 35vh;
    }

    .sample-1, .sample-2 {
      grid-template-columns:1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }


    .hr-container{
    margin-bottom: 1rem;
    margin-top: .5rem;
    width: 40vw;
  }

  div .h3-sample{
    padding-top: 1rem;
    padding-left: 3rem;
  }

  .img img{
    height: 75%;
  }

  #img23, #img1, #img17, #img25, #img2a{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #img14, #img6, #img21, #img30, #img18, #img2b{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #img37, #img11, #img22, #img19, #img2c{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  #img20, #img13, #img24, #img35, #img2d{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  #Lsign-up2, #form1 input {
    width: 90vw;
  }

  .footer {
    grid-template-columns: 10% 1fr 1fr 1fr;
    gap: .5vw;
  }

  .support a{
    gap: 2vw;
  }

  .socials-container{
    padding-right: 1rem;
  }

  .learn{
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  .subscribe{
    display: none;
  }


  .subscribe2{
    display: block;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem;
  }

  .subscribe2 h4{
    color: var(--our-green);
  }

  .subscribe2 p{
    color: #fff;
  }

  #footer-hr2{
  display: block;
  }

  .copyright {
    width: 70vw;
    margin-top: 1rem;
  }
}


/* screen size 5 */
 @media (max-width: 576px) {

  .search-bar {
      width: 100%;
      margin-left: 1rem;
  }


  .search-bar button {
    width: 50%;
  }
  
  .search-bar input{
    width: 50%;
  }


  .user-account ul li .user-dropdown-content{
    width: 20vw;
    height: 15vh;
  }

  .user-account ul li .user-dropdown-content a{
    padding: 1px 7px;
  }

  .carousel-item {
    min-height: 30vh;
    max-height: 30vh;
  }

  .img img{
    width: 65%;
  }
  

  #Lsign-up2, #form1 input {
      width: calc(100% - 10px);
      margin: 5px;
  }

  .footer {
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    gap: 1vw;
    padding: 1rem;
  }
} 

/* screen size 6 */
@media (max-width:350px){
  .search-bar button {
    font-size: 12px;
  }
}
