.horizontal{
    width: 8%;
    border: 1px solid #000;;
}

.customer-login{
    margin-top: 115px;
    font-size: 1.5rem;
}
.input-field{
    width: 100%; 
}

.forgot-password{
    position: absolute;
    right: 0;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
    color: #007ACE;
}
.btn-1{
    width: 15%;
    border: 1px solid #000 ;
    background-color: #fff;
}
.btn-1:hover{
    background-color: #000;
    color: #fff;
}
.new-customer{
    display: flex;
}
.sign-up{
    text-decoration: none;
    cursor: pointer;
    color: #007ACE;
}

.dev{
    display: flex;
}

.login-portrait{
    display: none;
    background-color: black; 
    width: 92vw; 
    margin: auto; 
    margin-right: 5rem; 
    margin-bottom: 2rem; 
    height: 20vh;
}

.login-animation{
    background-color: black; 
    width: 38vw; 
    margin: auto; 
    margin-right: 5rem; 
    margin-bottom: 2rem; 
    height: 40vh;
}

.login-animation img, .login-portrait img{
    width: 100%; 
    height: 80%;
}

.login-animation h2, .login-portrait h4{
    color: white; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
}

.one-half {
    position: relative;
    width: calc(50% - 20px);
}

.is-order-aligned-right {
    order: 1;
}

.dev .column {
    margin-left: calc(20px / 2);
    margin-right: calc(20px / 2);
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
    display: block;
}

.error {
    border-color: red;
}

.custom-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 10px;
    border-radius: .5rem;
    z-index: 1000;
    text-align: center;
    width: 17vw;
}

.custom-alert p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #ffff;
}

.custom-alert-button {
    padding: 10px 20px;
    background-color: #cbf802;
    color: #000000;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 16px;
}



/* media screen */
@media (max-width: 798px )  {

    .customer-login{
        margin-top: 130px;
        font-size: 1.5rem;
    }

    .medium-down--one-whole {
        position: relative;
        width: calc(100% - 20px);
    }
    
    .dev{
        display: block;
    }

    .login-animation{
        display: none;
    }

    .login-portrait{
        display: block;
        margin: 0 auto;
    }

    .btn-1{
        width: 15%;
        border: 1px solid #000 ;
        background-color: #fff;
    }

    .btn-1:hover{
        background-color: #000;
        color: #fff;
    }

    .forgot-password{
        position: absolute;
        right: 0;
        text-decoration: none;
        font-size: 0.9rem;
        cursor: pointer;
        color: #007ACE;
    }

    .custom-alert{
        width: 45vw;
        top: 70%;
        left: 63%;
    }

}

